
    .draftjs-styles_0 .public-DraftEditorPlaceholder-root {
      color: #536471;
    }

    .draftjs-styles_0 .public-DraftEditorPlaceholder-hasFocus {
      color: #536471;
    }


  id="draftjs-styles">
     .DraftEditor-editorContainer, .DraftEditor-root, .public-DraftEditor-content {
        height: inherit;
        max-height: inherit;
        min-height: inherit;
        text-align: initial;
    }

    .public-DraftEditor-content[contenteditable=true] {
        -moz-user-modify: read-write-plaintext-only;
        -webkit-user-modify: read-write-plaintext-only;
    }

    .format-inline .public-DraftEditor-content[contenteditable=true] {
      -moz-user-modify: read-write;
      -webkit-user-modify: read-write;
    }

    .DraftEditor-root {
        width: 100%;
        position: relative;
        -webkit-user-select: none;
    }

    .DraftEditor-editorContainer {
        background-color: rgba(255, 255, 255, 0);
        border-left: .1px solid transparent;
        position: relative;
        z-index: 1;
    }

    .public-DraftEditor-block {
        position: relative;
    }

    .DraftEditor-alignLeft .public-DraftStyleDefault-block {
        text-align: left;
    }

    .DraftEditor-alignLeft .public-DraftEditorPlaceholder-root {
        left: 0;
        text-align: left;
    }

    .DraftEditor-alignCenter .public-DraftStyleDefault-block {
        text-align: center
    }

    .DraftEditor-alignCenter .public-DraftEditorPlaceholder-root {
        margin: 0 auto;
        text-align: center;
        width: 100%
    }

    .DraftEditor-alignRight .public-DraftStyleDefault-block {
        text-align: right;
    }

    .DraftEditor-alignRight .public-DraftEditorPlaceholder-root {
        right: 0;
        text-align: right;
    }

    .public-DraftEditorPlaceholder-root {
        padding-bottom: 2px;
        padding-top: 2px;
        position: absolute;
        z-index: 1;
    }

    .public-DraftEditorPlaceholder-inner {
        user-select: none;
        -webkit-user-select: none;
    }

    .DraftEditorPlaceholder-hidden {
        display: none;
    }

    .public-DraftStyleDefault-block {
        overflow:hidden;
        padding-bottom: 2px;
        padding-top: 2px;
        position: relative;
        white-space: pre-wrap;
    }

    /* Only a handful of CSS rules work on br tags and user-select isn't one */
    div:only-child > .public-DraftStyleDefault-block > span > br::selection {
        background: transparent;
    }

    /*
       Safari doesn't let you change ::selection on br elements,
       but Chrome needs it here
    */
    div:only-child > .public-DraftStyleDefault-block > span:has(br)::selection {
        background: transparent;
    }

    .public-DraftStyleDefault-ltr {
        direction: ltr;
        text-align: left;
    }

    .public-DraftStyleDefault-rtl {
        direction: rtl;
        text-align: right;
    }

    .DraftEditor-editorContainer a {
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        margin-bottom: inherit;
        margin-top: inherit;
    }

    .singleline .public-DraftStyleDefault-block {
        overflow-x: auto;
        scrollbar-width: none;
        white-space: nowrap;
        -ms-overflow-style: none;
    }

    .singleline .public-DraftStyleDefault-block::-webkit-scrollbar {
        display: none;
    }

  input::placeholder { user-select: none; -webkit-user-select: none; } iframe { color-scheme: auto; }button { text-align: inherit; font-size: inherit; font-family: inherit; color: inherit }
  @font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/responsive-web/client-web/Chirp-Light.3a18e64a.woff2) format('woff2'), url(https://abs.twimg.com/responsive-web/client-web/Chirp-Light.7a5673aa.woff) format('woff');
  font-weight: 300;
  font-style: 'normal';
  font-display: 'swap';
}
@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/responsive-web/client-web/Chirp-Regular.80fda27a.woff2) format('woff2'), url(https://abs.twimg.com/responsive-web/client-web/Chirp-Regular.60b215ba.woff) format('woff');
  font-weight: 400;
  font-style: 'normal';
  font-display: 'swap';
}
@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/responsive-web/client-web/Chirp-Medium.f8e2739a.woff2) format('woff2'), url(https://abs.twimg.com/responsive-web/client-web/Chirp-Medium.20fc288a.woff) format('woff');
  font-weight: 500;
  font-style: 'normal';
  font-display: 'swap';
}
@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/responsive-web/client-web/Chirp-Bold.ebb56aba.woff2) format('woff2'), url(https://abs.twimg.com/responsive-web/client-web/Chirp-Bold.a573679a.woff) format('woff');
  font-weight: 700;
  font-style: 'normal';
  font-display: 'swap';
}
@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/responsive-web/client-web/Chirp-Heavy.f44ae4ea.woff2) format('woff2'), url(https://abs.twimg.com/responsive-web/client-web/Chirp-Heavy.d70ec7ca.woff) format('woff');
  font-weight: 800;
  font-style: 'normal';
  font-display: 'swap';
}
@font-face {
  font-family: TwitterChirpExtendedHeavy;
  src: url(https://abs.twimg.com/fonts/v1/chirp-extended-heavy-web.woff2) format('woff2'), url(https://abs.twimg.com/fonts/v1/chirp-extended-heavy-web.woff) format('woff');
  font-weight: 800;
  font-style: 'normal';
  font-display: 'swap';
}
