.card-media {
	display: flex;
	flex-direction: column;
}

.card-media__video-wrapper {
	margin-bottom: 20px;
	position: relative;
}

.card-media__img {
}

.card-media__video-button {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 0;
}

.card-media__title {
	margin-bottom: 16px;

	font-family: var(--font-family);
	font-weight: 400;
	/* font-size: 36px; */
	font-size: clamp(1.375rem, 1.057rem + 1.59vw, 2.25rem);
	text-transform: capitalize;
	color: var(--primary-color);
}

.card-media__desc {
	font-family: var(--font-family);
	font-weight: 400;
	/* font-size: 18px; */
	font-size: clamp(0.875rem, 0.784rem + 0.45vw, 1.125rem);
	color: var(--subtext-color);
}

.card-media__content {
	margin-top: auto;
}