.power-grid {
	display: grid;
	/* grid-template-columns: repeat(3, 1fr); */
	grid-template-columns: 348fr 348fr 505fr;
	grid-template-areas:
		'stats stats hero'
		'cta logo hero'
		'cta tagline hero';
	gap: 20px;
	padding: 12px;
	border-radius: 18px;
}

.power-grid__item {
	position: relative;
	overflow: hidden;
}

.power-grid__item--stats {
	grid-area: stats;
}

.power-grid__item--cta {
	grid-area: cta;
}

.power-grid__item--logo {
	grid-area: logo;
}

.power-grid__item--tagline {
	grid-area: tagline;
}

.power-grid__item--hero {
	grid-area: hero;
	background: #111;
}


@media (max-width: 1100px) {
	.power-grid {
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas:
			'stats hero'
			'cta hero'
			'logo hero'
			'tagline hero';
	}

	.power-grid__item--hero {
		min-height: 100%;
	}
}

@media (max-width: 900px) {
	.power-grid {
		grid-template-columns: 1fr;
		grid-template-areas:
			'hero'
			'stats'
			'cta'
			'logo'
			'tagline';
	}

	.power-grid__item--hero {
		min-height: 20rem;
	}
}

@media (max-width: 600px) {
	.power-grid {
		padding: 10px;
		gap: 10px;
	}
}
