body {background-color: #391800;
background-image: url(http://www.tokkoro.com/picsup/394506wood-background-hd.jpg);
}
header {background-color: rgba(255, 202, 55, 0.3);
width: 95%;
margin: auto;
border-radius: 1rem;
}
header img {width: 125px;
position: absolute;
left: 5%;
top: 9%;
}
header h1{color: #9D0800;
font-size: 4rem;
text-align: center;
font-family: 'Black Rose Swash', 'Nocturne Victorian',
'Eccentric',
'Montesuma', 'Times New Roman';
text-shadow: 0 0 1em #cc5200;
}
.nav {position: absolute;
top: 31%;
left: 2.5%;
width: 95%;
}
.nav table {width: 100%;
height: 2em;
background-color: #A53A00;
border-width: 1px;
border-color: #FFA500;
border-radius: 5px;
}
.nav td {border-color: #FFC400;
border-style:dotted;
border-width:1px;
text-align:center;
}
.nav a {font-family: 'Times New Roman';
color: #522900;
text-decoration: none;

}
.nav td a:hover {color: #FFFF00;
text-decoration: underline;
background-color: #5D3100;
}
.content {position: absolute;
width: 95%;
top: 37%;
left: 2.5%;
background-color: rgba(255, 202, 55, 0.3);
border-radius: 5px;
color: #4C2700;
}
.content h1 {color: #FF5A00;
font-size: 2em;
font-style: bold;
text-align: center;
}
.ArticleList td {background-color: rgba(255, 231, 138, 0.3);
width: 70%;
border-radius: 5px;
border-color: #A54900;
}
.ArticleList h4 {font-style: bold;
color: #763400;
}
ul a {font-size: 2em;
text-decoration: none;
color: #FFC300;
}
.content th {background-color: rgba(255, 203, 31, 0.3);
color: #FF7A00;
}
.content td {background-color: rgba(255, 231, 138, 0.3);
width: 70%;
border-radius: 5px;
border-color: #A54900;
}
.PromoList td {background-color: rgba(255, 231, 138, 0.3);
width: 100%;
border-radius: 5px;
border-color: #A54900;
position: absolute;

left: 20%;
}
td img {height: 20%;
}
.footer {background-color: rgba(255, 202, 55, 0.3);
width: 95%;
margin: auto;
border-radius: 1rem;
position: absolute;
top: 105%;
left: 2.5%;
text-align: center;
