@import url(https://fonts.googleapis.com/css?family=Syne:regular,500,600,700,800);

/* Base */
@import "./base/reset.css";
@import "./base/vars.css";
@import "./base/base.css";

/* Blocks */
@import "./blocks/nav.css";
@import "./blocks/hero.css";
@import "./blocks/button.css";
@import "./blocks/detail.css";
@import "./blocks/figure.css";
