@import url(https://fonts.googleapis.com/css?family=Syne:regular,500,600,700,800);

/* Base */
@import './base/reset.css';
@import './base/vars.css';
@import './base/base.css';

/* Sections */
@import './sections/hero.css';
@import './sections/features.css';
@import './sections/story.css';
@import './sections/power.css';
@import './sections/gallery.css';
@import './sections/book.css';
@import './sections/footer.css';

/* Blocks */
@import './blocks/nav.css';
@import './blocks/button.css';
@import './blocks/detail.css';
@import './blocks/figure.css';
@import './blocks/tag.css';
@import './blocks/title.css';
@import './blocks/card.css';
@import './blocks/card-media.css';
@import './blocks/icons.css';
@import './blocks/card-story.css';
@import './blocks/power-grid.css';
@import './blocks/power-hero.css';
@import './blocks/power-tagline.css';
@import './blocks/power-logo.css';
@import './blocks/power-cta.css';
@import './blocks/power-stats.css';
@import './blocks/swiper.css';
@import './blocks/form.css';
