.power-tagline {
	height: 100%;
	display: grid;
	/* gap: 40px; */
	gap: clamp(1.25rem, 0.795rem + 2.27vw, 2.5rem);

	padding: clamp(0.75rem, 0.477rem + 1.36vw, 1.5rem);
	background: var(--white-transparent-2);
	color: var(--background-color-3);
	font-weight: 400;
	font-size: 18px;
}

@media only screen and (max-width: 992px) {
	.power-tagline {
		font-size: 16px;
	}
}