body {
	font-family: Syne, sans-serif;
	/* background: linear-gradient(180deg, #e9e9e9 40%, #fff 100%); */
	/* background: linear-gradient(180deg, #e9e9e9 200px, #fff 800px); */
	background: linear-gradient(180deg, #e9e9e9 200px, #fff 400px);

	min-height: 100vh;
}

.none {
	display: none !important;
}

.container {
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 20px;
}

.container--wide {
	max-width: 1400px;
}
